In [18]:
import pandas as pd

# Load the Excel file
df = pd.read_excel('C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/RawOutput/TopicWithLabel.xlsx')

# List of industries
industries = ['AGRO', 'CONSUMP', 'FINCIAL', 'INDUS', 'PROPCON', 'RESOURC', 'SERVICE', 'TECH']

# Dictionary to hold topics for each industry
industry_topics = {industry: [] for industry in industries}

# Loop through each industry and extract topics
for industry in industries:
    industry_rows = df[df['Industry'].str.contains(industry, na=False)]
    topics = industry_rows['Topic'].tolist()
    industry_topics[industry] = topics

# industry_topics now contains the list of topics for each industry

In [19]:
topic_columns

['Topic_0',
 'Topic_1',
 'Topic_2',
 'Topic_3',
 'Topic_4',
 'Topic_5',
 'Topic_6',
 'Topic_7',
 'Topic_8',
 'Topic_9',
 'Topic_10',
 'Topic_11',
 'Topic_12',
 'Topic_13',
 'Topic_14',
 'Topic_15',
 'Topic_16',
 'Topic_17',
 'Topic_18',
 'Topic_19',
 'Topic_20',
 'Topic_21',
 'Topic_22',
 'Topic_23',
 'Topic_24',
 'Topic_25',
 'Topic_26',
 'Topic_27',
 'Topic_28',
 'Topic_29',
 'Topic_30',
 'Topic_31',
 'Topic_32',
 'Topic_33',
 'Topic_34',
 'Topic_35',
 'Topic_36',
 'Topic_37',
 'Topic_38',
 'Topic_39',
 'Topic_40',
 'Topic_41',
 'Topic_42',
 'Topic_43',
 'Topic_44',
 'Topic_45',
 'Topic_46',
 'Topic_47',
 'Topic_48',
 'Topic_49',
 'Topic_50',
 'Topic_51',
 'Topic_52',
 'Topic_53',
 'Topic_54',
 'Topic_55',
 'Topic_56',
 'Topic_57',
 'Topic_58',
 'Topic_59',
 'Topic_60',
 'Topic_61',
 'Topic_62',
 'Topic_63',
 'Topic_64',
 'Topic_65',
 'Topic_66',
 'Topic_67',
 'Topic_68',
 'Topic_69',
 'Topic_70',
 'Topic_71',
 'Topic_72',
 'Topic_73',
 'Topic_74',
 'Topic_75',
 'Topic_76',
 'Topic_77',
 'Topic_78',
 'Topic_79',
 'Topic_80',
 'Topic_81',
 'Topic_82',
 'Topic_83',
 'Topic_84',
 'Topic_85',
 'Topic_86',
 'Topic_87',
 'Topic_88',
 'Topic_89',
 'Topic_90',
 'Topic_91',
 'Topic_92',
 'Topic_93',
 'Topic_94',
 'Topic_95',
 'Topic_96',
 'Topic_97',
 'Topic_98',
 'Topic_99',
 'Topic_100',
 'Topic_101',
 'Topic_102',
 'Topic_103',
 'Topic_104',
 'Topic_105',
 'Topic_106',
 'Topic_107',
 'Topic_108',
 'Topic_109',
 'Topic_110',
 'Topic_111',
 'Topic_112',
 'Topic_113',
 'Topic_114',
 'Topic_115',
 'Topic_116',
 'Topic_117',
 'Topic_118',
 'Topic_119',
 'Topic_120',
 'Topic_121',
 'Topic_122',
 'Topic_123',
 'Topic_124',
 'Topic_125',
 'Topic_126',
 'Topic_127',
 'Topic_128',
 'Topic_129',
 'Topic_130',
 'Topic_131',
 'Topic_132',
 'Topic_133',
 'Topic_134',
 'Topic_135',
 'Topic_136',
 'Topic_137',
 'Topic_138',
 'Topic_139',
 'Topic_140',
 'Topic_141',
 'Topic_142',
 'Topic_143',
 'Topic_144',
 'Topic_145',
 'Topic_146',
 'Topic_147',
 'Topic_148',
 'Topic_149',
 'Topic_150',
 'Topic_151',
 'Topic_152',
 'Topic_153',
 'Topic_154',
 'Topic_155',
 'Topic_156',
 'Topic_157',
 'Topic_158',
 'Topic_159',
 'Topic_160',
 'Topic_161',
 'Topic_162',
 'Topic_163',
 'Topic_164',
 'Topic_165',
 'Topic_166',
 'Topic_167',
 'Topic_168',
 'Topic_169',
 'Topic_170',
 'Topic_171',
 'Topic_172',
 'Topic_173',
 'Topic_174',
 'Topic_175',
 'Topic_176',
 'Topic_177',
 'Topic_178',
 'Topic_179',
 'Topic_180',
 'Topic_181',
 'Topic_182',
 'Topic_183',
 'Topic_184',
 'Topic_185',
 'Topic_186',
 'Topic_187',
 'Topic_188',
 'Topic_189',
 'Topic_190',
 'Topic_191',
 'Topic_192',
 'Topic_193',
 'Topic_194',
 'Topic_195',
 'Topic_196',
 'Topic_197',
 'Topic_198',
 'Topic_199']

In [59]:
import pandas as pd

# Load your Excel file
df = pd.read_excel('C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/SampleVersion/TopicWithValueSample.xlsx')

topic_columns = [col for col in df.columns if col.startswith('Topic_')]

for col in topic_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Iterate over the DataFrame rows
for index, row in df.iterrows():
    print(row[0])
    # Get the topic columns for the current row, drop missing values, and find the indices of the top 3 values
    top_values = row[topic_columns].dropna().nlargest(10)
    top_indices = top_values.index
    print(top_values)
    # Set all other values to 0
    for col in topic_columns:
        if col not in top_indices:
            df.at[index, col] = 0
            
#df.to_excel('C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/TopValueOutput/TopicWithTop10Value.xlsx', index=False)

429867.0
Topic_190    0.331024
Topic_115    0.274141
Topic_21     0.078868
Topic_34     0.050422
Topic_7      0.049530
Topic_76     0.037494
Topic_163    0.037472
Topic_104    0.028665
Topic_81     0.028634
Topic_90     0.026647
Name: 0, dtype: float64
429872.0
Topic_199    0.226669
Topic_136    0.182128
Topic_147    0.115744
Topic_175    0.112938
Topic_82     0.088691
Topic_76     0.073755
Topic_89     0.048278
Topic_177    0.041859
Topic_141    0.030515
Topic_193    0.024991
Name: 1, dtype: float64
429873.0
Topic_49     0.197400
Topic_21     0.106862
Topic_179    0.083030
Topic_133    0.081942
Topic_192    0.078825
Topic_118    0.070003
Topic_189    0.057775
Topic_138    0.052025
Topic_6      0.050266
Topic_176    0.048848
Name: 2, dtype: float64
429882.0
Topic_61     0.143945
Topic_55     0.126567
Topic_92     0.096318
Topic_135    0.094584
Topic_134    0.073842
Topic_174    0.061963
Topic_15     0.061356
Topic_110    0.053524
Topic_192    0.053046
Topic_108    0.048009
Name: 3, dtype: float64
429884.0
Topic_92     0.243199
Topic_147    0.165860
Topic_55     0.143713
Topic_194    0.114447
Topic_136    0.098293
Topic_116    0.082886
Topic_53     0.056529
Topic_61     0.053368
Topic_25     0.021374
Topic_0      0.000106
Name: 4, dtype: float64
429886.0
Topic_92     0.672231
Topic_138    0.073003
Topic_24     0.065297
Topic_20     0.055893
Topic_7      0.046456
Topic_61     0.035437
Topic_12     0.035045
Topic_0      0.000086
Topic_1      0.000086
Topic_2      0.000086
Name: 5, dtype: float64
429888.0
Topic_57     0.373154
Topic_72     0.291439
Topic_194    0.106994
Topic_190    0.072003
Topic_62     0.037024
Topic_21     0.029934
Topic_146    0.027088
Topic_103    0.021612
Topic_60     0.019973
Topic_183    0.000109
Name: 6, dtype: float64
429892.0
Topic_151    0.384758
Topic_165    0.166780
Topic_21     0.142132
Topic_143    0.084767
Topic_126    0.055235
Topic_10     0.054977
Topic_174    0.025181
Topic_5      0.023039
Topic_194    0.022347
Topic_46     0.020985
Name: 7, dtype: float64
13098182.0
Topic_123    4.253279
Topic_26     2.186337
Topic_136    2.043497
Topic_89     1.958095
Topic_23     1.827294
Topic_42     1.593083
Topic_50     1.561844
Topic_197    1.548686
Topic_100    1.496755
Topic_17     1.445520
Name: 8, dtype: float64

In [58]:
df

,Article_ID,Topic_0,Topic_1,Topic_2,Topic_3,Topic_4,Topic_5,Topic_6,Topic_7,Topic_8,...,Topic_190,Topic_191,Topic_192,Topic_193,Topic_194,Topic_195,Topic_196,Topic_197,Topic_198,Topic_199
0,429867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.331024,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
1,429872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.226669
2,429873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
3,429882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,429884,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
5,429886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
6,429888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.106994,0.0,0.0,0.0,0.0,0.000000
7,429892,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
8,13098182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

In [46]:
# import pandas as pd

# # Load your data
# df = pd.read_excel('C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/Modified_TopicWithValueSample.xlsx')


# id_vars = ['Article_ID', 'Date']  # These are the columns that we don't want to melt
# value_vars = [col for col in df.columns if col.startswith('Topic_')]  # These are the topic columns

# # Melt the DataFrame
# df_long = df.melt(id_vars=id_vars, value_vars=value_vars, var_name='Topic', value_name='Value')

# # Now, go through each industry and its topics
# for industry, topics in industry_topics.items():
#     # Filter the dataframe for the current industry's topics
#     industry_df = df_long[df_long['Topic'].isin(topics)]
    
#     # Now, if needed, pivot back to wide format or group by Article_ID and Date
#     # Group by Date and sum the values
#     industry_df_grouped = industry_df.groupby('Date').sum().reset_index()
    
#     # Save the grouped dataframe to a new CSV file named after the industry
#     industry_df_grouped.to_csv(f'C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/Output/{industry}.csv', index=False)

In [ ]:
# import pandas as pd
# # Load the Excel file
# df = pd.read_excel('C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/Modified_TopicWithValueSample.xlsx')

# # Iterate over each industry
# for industry, topics in industry_topics.items():
#     # Select only the columns for the specified topics and the 'Date' column
#     selected_columns = ['Date'] + [f'Topic_{t.split(" ")[1]}' for t in topics if t]
#     industry_df = df[selected_columns]

#     # Save the DataFrame to a CSV file
#     industry_df.to_csv(f'C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/Output/Coparer/{industry}.csv', index=False)

In [ ]:
# import pandas as pd

# # Load the Excel file
# df = pd.read_excel('C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/Modified_TopicWithValue.xlsx')


# # Iterate over each industry
# for industry, topics in industry_topics.items():
#     # Convert topic numbers in the list to column names
#     topic_columns = [f'Topic_{t.split()[1]}' for t in topics]

#     # Select only the columns for the specified topics and the 'Date' column
#     selected_columns = ['Date'] + topic_columns
#     industry_df = df[selected_columns]

#     # Group by 'Date' and sum the values
#     industry_grouped = industry_df.groupby('Date').sum().reset_index()

#     # Save the grouped DataFrame to a CSV file
#     industry_grouped.to_csv(f'C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/Output/{industry}.csv', index=False)

In [ ]:
import pandas as pd

# Load the Excel file
df = pd.read_excel('C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/TopValueOutput/TopicWithTop10Value.xlsx')


# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Filter the DataFrame for the date range
start_date = '2018-01-23'
end_date = '2023-08-18'
df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

# Iterate over each industry
for industry, topics in industry_topics.items():
    # Convert topic numbers in the list to column names
    topic_columns = [f'Topic_{t.split()[1]}' for t in topics]

    # Select only the columns for the specified topics and the 'Date' column
    selected_columns = ['Date'] + topic_columns
    industry_df = df[selected_columns]

    # Group by 'Date' and sum the values
    industry_grouped = industry_df.groupby('Date').sum().reset_index()

    # Create a complete date range
    all_dates = pd.date_range(start=start_date, end=end_date)
    
    # Reindex to include all dates, filling missing ones with 0
    industry_grouped.set_index('Date', inplace=True)
    industry_grouped = industry_grouped.reindex(all_dates, fill_value=0).reset_index()

    # Rename 'index' column back to 'Date'
    industry_grouped.rename(columns={'index': 'Date'}, inplace=True)

    # Save to CSV
    industry_grouped.to_csv(f'C:/Users/uSeR/Documents/VScode/sp2023-stock/TopicModeling/result/Output/{industry}.csv', index=False)