In [1]:
import pandas as pd
dateFile_p  = 'E:/sp2023stock/TopicModeling/data/ModelingDataset/Test/V.2/dateonly.csv'
TopdocFile_p =  'E:/sp2023stock/TopicModeling/result/modelOutput/document_topics.csv'

In [2]:
df1 = pd.read_csv(dateFile_p)
print(len(df1))
df2 = pd.read_csv(TopdocFile_p)
print(len(df2))

1156987
1156987

In [3]:
df_merged = pd.concat([df1, df2], axis=1)
df_merged = df_merged.copy()  # Address fragmentation

In [4]:
df_merged[:3]

,ID,Agency,Date,Topic_0,Topic_1,Topic_2,Topic_3,Topic_4,Topic_5,Topic_6,...,Topic_390,Topic_391,Topic_392,Topic_393,Topic_394,Topic_395,Topic_396,Topic_397,Topic_398,Topic_399
0,13,prachachat,2017-06-09,0.000104,0.000104,0.000104,0.000104,0.000104,0.000104,0.000104,...,0.000104,0.000104,0.000104,0.000104,0.000104,0.000104,0.000104,0.000104,0.000104,0.000104
1,20,prachachat,2017-06-09,0.000071,0.000071,0.000071,0.000071,0.000071,0.000071,0.000071,...,0.000071,0.000071,0.000071,0.000071,0.000071,0.000071,0.000071,0.000071,0.000071,0.000071
2,21,prachachat,2017-06-09,0.000125,0.000125,0.000125,0.000125,0.000125,0.000125,0.000125,...,0.000125,0.000125,0.000125,0.000125,0.000125,0.000125,0.000125,0.000125,0.000125,0.000125

In [5]:
df_merged.drop(['ID', 'Agency'], axis=1, inplace=True)

In [10]:
# Extract only the date part
df_merged['Date'] = pd.to_datetime(df_merged['Date']).dt.date

# Grouping by 'Date' and summing the values for Topic_0, Topic_1, and Topic_2
result = df_merged.groupby('Date').sum().reset_index()

start_date = pd.to_datetime('2018-01-01').date()
end_date = pd.to_datetime('2022-12-31').date()

filtered_result = result[(result['Date'] >= start_date) & (result['Date'] <= end_date)]

,Date,Topic_0,Topic_1,Topic_2,Topic_3,Topic_4,Topic_5,Topic_6,Topic_7,Topic_8,...,Topic_390,Topic_391,Topic_392,Topic_393,Topic_394,Topic_395,Topic_396,Topic_397,Topic_398,Topic_399
1024,2018-01-01,0.243570,0.010474,0.667116,0.207868,0.148772,0.243486,0.638964,0.076034,0.021005,...,0.201566,0.065260,0.188683,0.022172,0.211403,0.094746,0.530077,0.025173,0.905197,0.351088
1025,2018-01-02,0.442645,0.010165,0.472032,0.174615,0.278010,0.065516,0.118778,0.058220,0.024897,...,0.125905,0.138582,0.010165,0.235060,0.687038,0.043729,0.412355,0.026971,1.891585,0.521047
1026,2018-01-03,0.803511,0.021269,1.034495,0.369360,2.563704,1.750212,2.655205,0.400265,0.319622,...,0.105622,0.151611,0.357797,0.266760,0.251326,0.582805,0.839805,0.340518,3.457699,0.552344
1027,2018-01-04,1.585728,1.007013,0.355915,0.241806,3.436134,1.508792,2.133230,0.533701,0.667992,...,0.415959,0.057719,1.301825,0.958393,0.668919,0.685504,1.028729,0.401639,2.716179,0.320652
1028,2018-01-05,0.800006,0.544541,1.120826,0.244215,2.783099,1.026162,1.733537,0.902286,1.063450,...,0.227054,0.021305,0.146029,0.431762,1.661189,0.320188,0.281140,0.090802,4.759699,0.515599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845,2022-12-27,1.453257,0.102529,2.228820,0.428013,4.099268,1.713968,2.708397,0.342649,0.647376,...,0.549189,0.521462,0.402190,0.468371,0.511947,1.812614,1.468409,0.611018,4.033463,0.743192
2846,2022-12-28,0.946718,0.771480,1.134231,0.312865,3.231466,0.678525,1.274648,0.349490,0.421460,...,0.860572,0.439829,0.414181,0.473779,0.581776,1.695625,0.872024,0.349325,3.555664,0.511264
2847,2022-12-29,1.015906,0.550736,0.715153,0.447084,3.534288,1.301099,1.770343,0.234599,0.677458,...,0.899058,0.264499,0.104115,0.461062,0.631952,0.515201,1.026485,0.365545,2.723521,0.525124
2848,2022-12-30,1.054048,0.103248,1.821929,0.413618,3.877351,1.371813,2.398024,0.148298,0.302949,...,1.040751,0.474465,0.141627,0.375550,1.239616,0.698594,0.797602,0.266331,1.430944,2.024102
2849,2022-12-31,1.010887,0.197442,0.862588,0.445183,1.334507,0.147034,0.805284,0.047533,0.241281,...,0.156552,0.049873,0.300518,0.162129,0.265761,0.652827,0.281207,0.107927,1.237416,0.701526